<footer class="footer">
  <nav class="footer__navLink">
    <ol class="footer__navLink__list">
      <li class="footer__navLink__list__element">Link1</li>
      <li class="footer__navLink__list__element">Link2</li>
      <li class="footer__navLink__list__element">Link3</li>
      <li class="footer__navLink__list__element">Link4</li>
    </ol>
  </nav>
  <nav class="footer__navMedia">
    <ol class="footer__navMedia__list">
      <li class="footer__navMedia__element">FB</li>
      <li class="footer__navMedia__element">TW</li>
      <li class="footer__navMedia__element">G+</li>
    </ol>
  </nav>
</footer>
