<footer class="pageFooter">
  <nav class="pageFooter__navLink">
    <ol class="pageFooter__navLink__list">
      <li class="pageFooter__navLink__list__element">Link1</li>
      <li class="pageFooter__navLink__list__element">Link2</li>
      <li class="pageFooter__navLink__list__element">Link3</li>
      <li class="pageFooter__navLink__list__element">Link4</li>
    </ol>
  </nav>

  <nav class="pageFooter__navMedia">
    <ol class="pageFooter__navMedia__list">
      <li class="pageFooter__navMedia__list__element">FB</li>
      <li class="pageFooter__navMedia__list__element">TW</li>
      <li class="pageFooter__navMedia__list__element">G+</li>
    </ol>
  </nav>
</footer>
