<header class="pageHeader">
  <section class="pageHeader__sectionLogo">
  <img class="pageHeader__sectionLogo__logo" src="./assets/images/logo.png" alt="Logo">
  <h1 class="pageheader__sectionLogo__h1">LayoutDeEjemplo</h1>
  </section>
 
 
    <nav class="pageHeader__navLink">
    <ol class="pageHeader__navLink__list">
      <li class="pageHeader__navLink__list__element"><a href="https://github.com/romerogarcia/Create-store" target="_blank">Link1</a></li>
      <li class="pageHeader__navLink__list__element"><a href="https://github.com/romerogarcia/Create-store" target="_blank">Link2</a></li>
      <li class="pageHeader__navLink__list__element"><a href="https://github.com/romerogarcia/Create-store" target="_blank">Link3</a></li>
      <li class="pageHeader__navLink__list__element"><a href="https://github.com/romerogarcia/Create-store" target="_blank">Link4</a></li>
    </ol>
  </nav>

  
</header>
