<main class="main">
 <section>
<article>
  <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit</h2>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quae dolores unde quaerat ad distinctio. Quam doloribus magni alias nihil exercitationem voluptatum? Omnis quasi eveniet iste, totam cupiditate alias eius fugiat! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perferendis dolorem repellat odio hic aut possimus autem neque, asperiores inventore, beatae a molestias, dignissimos similique fugit magnam numquam libero? Ipsum, blanditiis?</p>
</article>
<article>
  <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit</h2>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quae dolores unde quaerat ad distinctio. Quam doloribus magni alias nihil exercitationem voluptatum? Omnis quasi eveniet iste, totam cupiditate alias eius fugiat! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perferendis dolorem repellat odio hic aut possimus autem neque, asperiores inventore, beatae a molestias, dignissimos similique fugit magnam numquam libero? Ipsum, blanditiis?</p>
</article>
<article>
  <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit</h2>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quae dolores unde quaerat ad distinctio. Quam doloribus magni alias nihil exercitationem voluptatum? Omnis quasi eveniet iste, totam cupiditate alias eius fugiat!Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perferendis dolorem repellat odio hic aut possimus autem neque, asperiores inventore, beatae a molestias, dignissimos similique fugit magnam numquam libero? Ipsum, blanditiis?</p>
</article>
 </section>

 <section>
  <aside>
    <div>cuadrado naranja</div>
    <div>cuadrado naranja</div>
  </aside>
 </section>
</main>
