<main class="pageMain">
  <section class="pageMain__sectionText">
    <article class="pageMain__sectionText__article">
      <h2 class="pageMain__sectionText__article__title">Lorem, ipsum dolor sit amet </h2>
      <p class="pageMain__sectionText__article__text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quas at, corporis numquam debitis eaque temporibus vero eveniet obcaecati harum eos consectetur velit, labore unde nam quia. Molestiae eligendi suscipit placeat. </p>
    </article>
    <article class="pageMain__sectionText__article">
      <h2 class="pageMain__sectionText__article__title">Lorem, ipsum dolor sit amet </h2>
      <p class="pageMain__sectionText__article__text" style=" padding-left:10px; margin-left: 30px; border-left: 3px solid rgba(0, 0, 0, 0.288)">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quas at, corporis numquam debitis eaque temporibus vero eveniet obcaecati harum eos consectetur velit, labore unde nam quia. Molestiae eligendi suscipit placeat.  </p>
    </article>
    <article class="pageMain__sectionText__article" style="border-bottom: none;">
      <h2 class="pageMain__sectionText__article__title">Lorem, ipsum dolor sit amet </h2>
      <p class="pageMain__sectionText__article__text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quas at, corporis numquam debitis eaque temporibus vero eveniet obcaecati harum eos consectetur velit, labore unde nam quia. Molestiae eligendi suscipit placeat.</p>
    </article>
  </section>

  <section class="pageMain__sectionAside" >
    <aside class="pageMain__sectionAside__aside">
      <div class="pageMain__sectionAside__aside__square" ></div>
      <div class="pageMain__sectionAside__aside__square" ></div>
    </aside>
  </section>
</main>
