<main class="pageMain">
  <section class="pageMain__sectionText">
    <article class="pageMain__sectionText__article">
      <h2 class="pageMain__sectionText__article__title">Lorem, ipsum dolor sit amet consectetur adipisicing elit. </h2>
      <p class="pageMain__sectionText__article__text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quas at, corporis numquam debitis eaque temporibus vero eveniet obcaecati harum eos consectetur velit, labore unde nam quia. Molestiae eligendi suscipit placeat.lorem. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eos quas culpa impedit ipsam natus similique nostrum voluptates iusto et architecto odit inventore, facere incidunt. Omnis dolorum est natus exercitationem ipsa.</p>
    </article>
    <article class="pageMain__sectionText__article">
      <h2 class="pageMain__sectionText__article__title">Lorem, ipsum dolor sit amet consectetur adipisicing elit. </h2>
      <p class="pageMain__sectionText__article__text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quas at, corporis numquam debitis eaque temporibus vero eveniet obcaecati harum eos consectetur velit, labore unde nam quia. Molestiae eligendi suscipit placeat.lorem. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eos quas culpa impedit ipsam natus similique nostrum voluptates iusto et architecto odit inventore, facere incidunt. Omnis dolorum est natus exercitationem ipsa.</p>
    </article>
    <article class="pageMain__sectionText__article">
      <h2 class="pageMain__sectionText__article__title">Lorem, ipsum dolor sit amet consectetur adipisicing elit. </h2>
      <p class="pageMain__sectionText__article__text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quas at, corporis numquam debitis eaque temporibus vero eveniet obcaecati harum eos consectetur velit, labore unde nam quia. Molestiae eligendi suscipit placeat.lorem. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eos quas culpa impedit ipsam natus similique nostrum voluptates iusto et architecto odit inventore, facere incidunt. Omnis dolorum est natus exercitationem ipsa.</p>
    </article>
  </section>

  <section class="pageMain__sectionAside">
    <aside class="pageMain__sectionAside__aside">
      <div>cuadrado</div>
      <div>cuadrado</div>
    </aside>
  </section>
</main>
